.form {
    width: 320px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.title {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #ff7b00;
}